PORT=3003

# Database riêng cho Trip Service
DB_HOST=mysql-trip
DB_PORT=3306
DB_NAME=trip_service_db
DB_USER=root
DB_PASS=rootpassword

# CORS — chỉ cho phép API Gateway gọi vào
ALLOWED_ORIGIN=http://api-gateway:3000
