<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Busbookingandroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.trip.TripListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seat.SeatSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.passenger.PassengerInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.booking.BookingConfirmationActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="greenbus" android:host="payment-result" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.booking.BookingSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.booking.BookingErrorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.BookingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.TicketDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.staff.StaffScanActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.staff.BoardingManifestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.staff.StaffProfileActivity"
            android:exported="false" />
    </application>

</manifest>