PORT=3002

# Database riêng cho Catalog Service
DB_HOST=mysql-catalog
DB_PORT=3306
DB_NAME=catalog_service_db
DB_USER=root
DB_PASS=rootpassword

# CORS — chỉ cho phép API Gateway gọi vào
ALLOWED_ORIGIN=http://api-gateway:3000
