PORT=3001

# Database riêng cho User Service
DB_HOST=mysql-user
DB_PORT=3306
DB_NAME=user_service_db
DB_USER=root
DB_PASS=rootpassword

# JWT Secret (phải GIỐNG NHAU với API Gateway để verify được)
ACCESS_TOKEN_SECRET=your_super_secret_key_change_this_in_production

# CORS — chỉ cho phép API Gateway gọi vào
ALLOWED_ORIGIN=http://api-gateway:3000
