PORT=3004

DB_HOST=mysql-order
DB_PORT=3306
DB_NAME=order_service_db
DB_USER=root
DB_PASS=rootpassword

# Địa chỉ service bạn kia
TRIP_SERVICE_URL=http://trip-service:3003
CATALOG_SERVICE_URL=http://catalog-service:3002

ALLOWED_ORIGIN=http://api-gateway:3000
