PORT=3000

# JWT Secret — PHẢI GIỐNG với User Service
ACCESS_TOKEN_SECRET=your_super_secret_key_change_this_in_production

# Địa chỉ các service (dùng tên container Docker)
USER_SERVICE_URL=http://user-service:3001
ORDER_SERVICE_URL=http://order-service:3004
CATALOG_SERVICE_URL=http://mock-catalog-service:3002
TRIP_SERVICE_URL=http://mock-trip-service:3003

# Cho phép frontend truy cập
FRONTEND_URL=http://localhost:5173
